*{
    margin: 0;
    box-sizing: border-box;
  padding: 0;  
}

main{
    width: 100%;
    /* height: 70vh; */
    background-image: url(https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px 50px;
    
}
form{
    background-color: rgba(214, 39, 214, 0.509);
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;


}
main h1{
    color: antiquewhite;
}

.inputgroup{
    background-color: white;

    padding:3px;
}
.inputgroup input{
    border: none;
    outline: none;
}
form button{
    padding: 3px 7px;
    background-color: rgb(255, 15, 243);
    color: white;
}
